html, body {
  margin: 5px;
  padding: 0;
}

#app ul{
  list-style:none;
}

#app li div.task{
  color: red;
}

#app li span.done{
  text-decoration:line-through;
}

#app li span.fa-heart {
  color: #8899a6;
}
  
#app li span.like {
  color: #ff2581;
}
