body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-size: 16px;
  font-weight:bold;
  font-family: 'Courier New', sans-serif;
}

main {
  width: 1300px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#modal > h1 {
  text-align: center;
}

#modal > p {
  margin: 0 0 20px;
  text-align: center;
}

#modal > img {
  display: block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}