<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
      
    <div id="app">
      <h1>My Todos</h1>
      <ul>
        <!-- <li>{{ todos[0] }}</li>
        <li>{{ todos[1] }}</li>
        <li>{{ todos[2] }}</li> -->
        <li v-for="todo in todos">{{ todo }}</li>
        <form v-on:submit.prevent>
          <input v-model="new_task" type="text">
          <input v-on:click="addTask" type="submit" value="Add">
        </form>
      </ul>
      <pre>{{ $data }}</pre>
    </div>
      
    <script src="js/main.js"></script>
  </body>
</html>